/* light green/gray = B8D8D8
medium green/gray = 7A9E9F
dark green/gray = 4F6367
cream = EEF5DB
coral = FE5F55 
right coral = F4B196
dark blue = 076982*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    scroll-y: hidden;
}

p {
    text-indent: 30px;
    margin-bottom: 20px;
}

.homePageImg {
    height: 100vh;
    margin: 0px;
    position: fixed;
    width: 100vw;
    z-index: -2;
}

.nav {
    position: fixed;
    top: 0px;
    color: white;
    font-family: "Josephin Sans", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: rgba(244,177,150,0);
    z-index: 1;
}

.showNav {
    --ease: all 1000ms ease;
    background-color: white;
    transition: var(--ease);
    background-color: rgba(244,177,150,1);
}

.nav > h3,
.navButtons > h3 {
    display: inline-block;
    padding: 15px;
}

.navButtons > h3 {
    cursor: pointer;
    transition: transform .3s linear;
}

.navButtons {
    padding-right: 30px;
}

.home {
    position: absolute;
    top: 35vh;
    width: 30%;
    left: 35%;
}

.home .left {
    border: 2px solid #044252;
    position: relative;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
}

.home .right {
    width: 100%;
    height: 100%;
    top: 29%;
    left: 39%;
    border: 2px solid #044252;
    position: relative;
    top: 10px;
    left: 10px;
}
.home .center {
    margin: 40px;
}

.home h1 {
    font-size: 80px;
    text-align: center;
}

.home h3 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.navButtons > h3:active {
    border-bottom: 4px solid #F4B196;
}

.navButtons > h3:hover {
    transform: scale(1.07);
}

.navButtons img {
    display: none;
    height: 50px;
    margin: 10px;
}

.down {
    position: absolute;
    margin-left: calc(50vw - 25px);
    width: 50px;
    top: 87vh;
    text-align: center;
    animation: bounce 2s infinite;
}

.about {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 100vh;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 99vw;
}

.blogs > div {
    width: 300px;
    height: 300px;
    font-size: 30px;
    background-color: #076982;
    color: white;
    padding: 50px;
    text-align: center;
    transition: transform .5s linear;
    margin: 100px;
}

.blogs > div:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.blogs img {
    width: 200px;
    margin-bottom: 20px;
}

.journey,
.aboutMePage,
.workPage {
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #076982;
    transition: opacity 500ms ease-in-out;
}

.circle {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    padding: 40px;
    margin-bottom: 50px;
}

.circle img {
    width: 100px;
}

.content {
    width: 60%;
}

.hide {
    display: none;
    opacity: 0;
}

.display {
    position: fixed;
    z-index: 1;
    top: 0px;
    opacity: 1;
}

.back {
    background-color: #044252;
    border-radius: 30px;
    border: none;
    margin: 20px;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.skills {
    background-color: #F4B196;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
}

.skills div {
    padding: 60px;
    text-align: center;
}

.skills h3 {
    font-size: 30px;
    margin: 20px;
    /* text-shadow: 2px 2px rgba(0,0,0,0.5); */
}

.skills h2 {
    font-size: 40px;
    padding: 20px;
    padding-top: 90px;
    text-align: center;
}

.skills img {
    width: 50px;
}

.projects {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.project {
    /* background-color: #076982; */
    background-color: rgba(255,255,255,0.5);
    /* color: white; */
    color: #044252;
    margin: 50px;
    padding: 20px;
    width: 400px;
    font-size: 20px;
    text-align: center;
}

.project button {
    background-color: #044252;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.project p {
    margin-top: 10px;
}

.project img {
    width: 80%;
}

form {
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

form input {
    width: 60%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid gray;
    margin: 20px;
    font-size: 50px;
}

textarea {
    width: 60%;
    background-color: transparent;
    font-size: 30px;
}

form button {
    background-color: #044252;
    color: white;
    border: none;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}

.projectsHeader {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}



@keyframes bounce {
    70% {
        transform: translateY(20px);
    } 100% {
        transform: translateY(0px);
    }
}





@media (max-width: 1300px) {
    .blogs div {
        width: 200px;
        height: 200px;
        margin: 100px 50px 100px 50px;
    }
    .blogs img {
        width: 100px;
    }
    .home {
        width: 40%;
        left: 30%;
    }
}

@media (max-width: 1200px) {
    .skillsContainer {
        width: 100%;
    }
    .home {
        width: 50%;
        left: 25%;
    }
    .content {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .skills h3 {
        margin: 10px;
    }
    form {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    textarea {
        height: 300px;
    }
    form input {
        font-size: 30px;
    }
    .home {
        width: 80%;
        left: 10%;
        top: 25vh;
    }
    .navButtons h3 {
        display: none;
    }
    .navButtons img {
        display: block;
    }
    .content {
        width: 90%;
    }
}

@media (max-width: 540px) {
    .home {
        top: 25vh;
    }
    .skillsContainer {
        flex-direction: column;
    }
    .project {
        width: 300px;
    }
}